.couture-head {
  font-family: "Playfair Display", serif;
  color: #713c25;
}
.couture-subhead {
  font-family: "Open Sans", sans-serif;
  font-size: 6rem;
  font-weight: 500;
  color: #f7e7ce;
}
.cout-head {
  font-family: "Open Sans", sans-serif;
  font-size: 10rem;
  color: #be6c42;
}

.couttext {
  font-family: "Open Sans", sans-serif;
  color: #713c25;
}

@media only screen and (max-width: 600px) {
  .couture-subhead {
    font-size: 3rem;
  }
  .cout-head {
    font-size: 4rem;
  }
  .cout-con {
    line-height: 20px;
  }
  .couttext {
    margin-top: 20px;
  }
}

.rec.rec-arrow {
  /* Turquoise-10 */
  background: #eefbfb;

  /* Toast Shadow */
  box-shadow: 0px 4px 8px -4px rgba(14, 19, 44, 0.16),
    0px 1px 1px rgba(14, 19, 44, 0.04);
  border-radius: 24px;
  color: #BE6C42;
}

.rec.rec-arrow:hover,
.rec.rec-arrow:focus {
  background: #BE6C42 !important;
  box-shadow: none !important;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-dot {
  background: #eceff4;
}

.rec.rec-dot,
.rec.rec-dot:hover {
  box-shadow: none;
}

.rec.rec-dot_active {
  background: #BE6C42;
  box-shadow: none;
}

.rec .rec-carousel-item:last-child > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.rec .rec-slider-container {
  margin: 0;
}

.rec-carousel {
  position: relative;
  width: 100%;
}
.rec-slider-container {
  margin: 0;
}
.rec-arrow {
  position: absolute;
  z-index: 999;
}
.rec-arrow-right {
  right: 50px;
}
.rec-arrow-left {
  left: 50px;
}
